@import "tailwindcss";

:root {
  --background: #0f172a; /* Темный фон (Slate 900) */
  --foreground: #f8fafc; /* Светлый текст */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
